// Size
@main-filter-width: 500px;
@main-max-width: 1200px;
@nft-img-height: 206px;

// Colors
// @global-background-color: rgb(4, 17, 29);
// @body-background-color: rgb(32, 34, 37);

@global-background-color: rgb(4, 17, 29);
@body-background-color: rgb(32, 34, 37);
@button-background-color: rgb(32, 129, 226);
@button-hover-color: rgb(66, 160, 255);
@button-gray-color: rgb(60, 62, 65);

html,
body {
  background-color: @global-background-color;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
}
